<!doctype html>
<html>
<head>
    <title>Temperature Monitor</title>
    <link href="~/lib/metro-bootstrap/metro-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Temperature Monitor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Integration", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div data-bind="foreach: liveSensors">
            <p><span data-bind="text: name"></span> (last update: <span data-bind="text: lastSignal"></span>)</p>
            <p><span data-bind="text: value" style="font-size: 4em;">0</span>&deg;C</p>
        </div>
        <p data-bind="text: statusString"></p>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - vSoft Studio</p>
        </footer>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/knockoutjs/knockout.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script src="~/js/viewmodels/livesensorviewmodel.js"></script>
    <script src="~/js/viewmodels/appviewmodel.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>